# Virtual environment
.venv/
venv/

# Environment variables / secrets
.env
.env.*

# Python cache
__pycache__/
*.pyc

# Django / local database
db.sqlite3

# IDE
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log